/*  your css code here. If applicable */

.heading{
	background-color:#F1F1F1;
	text-align:center;
}
body{
	background-color:#F7F8F8
}
.price{
	background-color:#2ecc71;
	margin-top:0;
	text-align:center;
	color:white;
	
}
.author{
	margin-bottom:0;
	margin-top:0;

}
h1{
	margin-bottom:0;
	
}
.img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}